{% extends 'layout.html' %}

{% block body %}

	<header>
			<nav id="navbar">
		<button class="show-hide" onclick="showhide()"><i class="fas fa-list"></i></button>
		<div id="thisone">
				<div class="container">
				<a href="/index"><img class="logo" src="../static/Images/logo1.png" height=80px width=80px alt="LOGO"></a>
			<ul>
				<li><a href="{{ url_for('index')}}">Home</a></li>
				<li><a class="current"  href="{{ url_for('about')}}">About</a></li>
				<li><a href="{{ url_for('contact')}}">Contact</a></li>
			</ul>
			</div>
		</nav>
		
	</header>
	<section id="about-info" class="bg-light py-3">
		<div class="container">
			<div class="info-left">
				<h1 class="l-heading"><span class="text-primary">About</span> Hotel BT</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="info-right">
				<img src="static/Images/photo-2.jpg" alt="hahaha">
			</div>
		</div>
	</section>
	<div class="clr"></div>
	<section id="testimonials" class="py-3">
		<div class="container">
			<h2 class="l-heading ">What Our Guests Say</h2>
			<div class="testimonial bg-primary">
				<img src="static/Images/person-1.jpg" alt="Samantha">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
			</div>
			<div class="testimonial bg-primary">
				<img src="static/Images/person-2.jpg" alt="Janet">
				<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
			</div>
			
		</div>
	</section>
	{% endblock body %}
