<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport", content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Content tueke hapa">
	<link rel="stylesheet" type="text/css"  href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/all.css/">
	<link rel="stylesheet" media="screen and (max-width:500px)" href="static/css/mobile.css">
    </head>

    {% if title %}
        <title> {{ title }}</title>
    {% endif %}
{% block body %}
    
{% endblock body %}

    <div class="clr"></div>
	<footer class="main-footer">
		<p>Hotel BT &copy; 2019, ALll Rights Reserved</p>
	</footer>

</body>
</html>